<div class='list'>
  <h2>
    {{list.name}}
    <button {{action 'remove'}} class='remove-list'>&times;</button>
  </h2>
  {{#each list.entries as |entry|}}
    <div class='entry'>
      <button {{action 'removeEntry' entry}} class='remove-entry'>&minus;</button>
      {{entry.name}}
    </div>
  {{/each}}
  <form>
    {{input type='text' value=newEntryName class='new-entry-name'}}
    <button {{action 'addEntry'}} class='add-entry'>Add entry</button>
  </form>
</div>
